@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: 'Open Sans', sans-serif;
    color: #AA767C;
    background-color:white;
    margin-top: 2em;
    /*font-size: 2em; */
}

h1, h2, h3 {
    font-family: 'PT Sans Caption', serif;
}

#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

#navbar > ul > li {
    margin: 0.5em;
    display: inline-block;
    float: right;
   /* border-bottom: solid #7f8c8d 2px; */
    position: relative;
    transition: : 0.5s all;
}

#navbar > ul > li:hover > a{     /* animation of underline of underlined tab */
	color: #AA767C;
}

#navbar > ul > li::before {
	/* content: "!"; */
	content: "";
	width: 0;
	height: 10%;
	background-color: red;
	position: absolute;
	top: 100%;
    margin-right: 50px;
}


.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

a {
    color: #FEC196;
    transition: 0.5s all;
    margin-right: 200px;
}

p {
    padding-top: 20px;
    font-family: 'Poppins', serif;
    color: #2b2b2b;
    font-size: 17px
    margin-right: 0px;
    margin-left: 300px;
    margin-right: 300px;

}

h2 {
    font-size: 0.2px

}

img {
    align-self: center
    position: absolute;
    border-radius: 50%;
    border: 8px solid #FFFFFF;
    width: 60px;
    height: 60px
}

#intro {
    font-size: 4em;
}

#about {
    text-align: center;
}

#fancy {
    color: #FEC196;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}
